@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(3, 0, 17);
    color: white;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    /* essa porra games aqui em cima defina a altura minima do navegador como 100% */
}

/* fio do body */
header{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 100%;
    background-color: #3B28CC;
    padding: 15px;   
    justify-content: center;
    align-items: center;
}

/* fio do header */
header h1{
    text-align: center;
    margin-bottom: 15px;
}

/* fio do header */
header p{
    text-align: center;
}

/* fio do header */
nav{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* fio do nav */
nav a{
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    background-color: #fbff00;
    border-radius: 10px;   
    font-size: 19px;
    color: #201f29;
}

/* fio do nav */
nav a:hover{
    background-color: #9A98B5;
    color: #201f29;
}

/* filho do body */
main{
    max-width: 1100px;
    width: 90%;
    text-align: left;
    margin: 0px auto 10px auto;
    background-color: #201f29;
    padding: 20px;
    word-spacing: 2px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* filho do main */
#sec1, #sec2, #sec3{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}


#sec1 h1, #sec2 h2, #sec3 h2{
    margin: 5px 0px 10px 0px;
}

/* as imagens estavam com tamanho fixo, o navegador nao conseguia encolher elas dai o site ficava todo cagado no celular, agora a altura e largura se ajustam automaticamente, tendo um limite de 400px (100%) */
#corintia, #loki{
    max-width: 100%;
    width: 400px;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
}

#imagens{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

#misericordia{
    width: 1100px;
    max-width: 100%;
    padding: 0px;
    height: 200px;
    margin: 15px 0px 15px 0px;
}

#bolsopt{
    justify-self: center;
    align-self: center;
    max-width: 100%;
    width: 200px;
    height: auto;
    margin: 15px 0px 15px 0px;
}

#desc-img1{
    font-size: small;
    padding-left: 75px;
    margin: 5px 0px 5px 0px;
}

#sec3 iframe{
    justify-self: center;
    align-self: center;
    padding: 15px 0px 15px 0px;
}

footer{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 100%;
    background-color: #3B28CC;
    padding: 15px;   
    justify-content: center;
    align-items: center;
}

ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    color: #03020e;
    overflow: hidden;
}

#fundoh1{
    display: flex;
    background-color: #3B28CC;
    max-width: 100%;
    width: 1200px;
    justify-content: center;
    margin-bottom: 15px;
    height: max-content;
}

ol h1{
    color: white;
}

ol p{
    text-align: center;
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
}

ol li{
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}

ol mark{
    background-color: #fbff00;
}